src/bept/__pycache__
src/bept/analysis/__pycache__
src/bept/auto/__pycache__
src/bept/gen/__pycache__
src/bept/history/__pycache__
dist
src/bept/docs/__pycache__
src/bept/analysis/opt_files/__pycache__
src/bept/pymol/__pycache__
